{% extends 'base.html' %}

{% block css %}
<style>
    body {
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: top left;
        background-attachment: fixed;
    }

    h1 {
        text-align: center;
        font-family: Arial, sans-serif;
        color: #000000;
        background-color: #ffffff;
    }

    p {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
        color: #000000;
        background-color: #ffffff;
    }
</style>
{% endblock %}

{% block body %}
<h1>About</h1>
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}
