{% extends 'base.html' %}

{% block css %}
<style>
    body {
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: top left;
        background-attachment: fixed;
    }

    h1 {
        text-align: center;
        font-family: Arial, sans-serif;
        color: #000000;
        background-color: #ffffff;
    }
    h2 {
        text-align: center;
        font-family: Arial, sans-serif;
        color: #000000;
        background-color: #ffffff;
    }

    p {
        text-align: left;
        font-family: Arial, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: bold;
        color: #000000;
        background-color: #ffffff;
    }

    .new {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        color: #000000;
        background-color: #bfbdbd;
    }
</style>
{% endblock %}

{% block body %}
<h1>About</h1>
<p>From The above observations we can conclude that some sports have inherently a larger fan following which directly
    translates to a much higher fan base, salary, endorsements, winning pay. sports such as boxing while having less
    player have a large fan base which directly translates into huge amount of salary and winning bonuses. worldwide
    favorite sports such as cricket, tennis, racing have a large number of players but even, so they have a large fan
    following that tends to have salary on the higher end than sports such as football and baseball. the endorsement fee
    of sports Ashes cricket tends to be higher than the rest is due to the large fan following. boxing has the highest
    winning salary of all the sports. games such as football have the highest number of associated League like the La
    Liga, series A, Bundesliga. they tend to have a larger number of players as well as comparatively high payout,
    endorsement fee, and salary winning. global sports in general are advancing at a very Rapid pace and the number of
    ports available is also increasing at a very fast pace. the amount of financial capital invested in these sports has
    also increased due to various reasons such as improvement in sports, updating of Rule, finding new methods, etc.
    sports such as soccer, cricket, golf, boxing aur popular throughout the world due to various reasons and as such
    Fame and popularity experience by those players is inherently higher than the rest same goes for the payout,
    endorsements, salary meaning, team winning, etc.
</p>
<h2>LEARNING OUTCOME</h2>
<p class="new">Through completion of this project -</p>
<p class="new">i. I learned about Data Analytics because of this project.</p>
<p class="new">ii. This project has taught me about the financial aspects of global sports.</p>
<p class="new">iii. This project has taught me about the financial breakdown in sports.</p>

{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}