{% extends 'base.html' %}

{% block css %}
<style>
    body {
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: top left;
        background-attachment: fixed;
    }

    h1 {
        text-align: center;
        font-family: Arial, sans-serif;
        color: #000000;
        background-color: #ffffff;
    }

    p {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
        color: #000000;
        background-color: #ffffff;
    }
</style>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <h3>Bivariate Analysis</h3>
        <h2>For Players</h2>
        <div class="col-md-12">
            <div id="sp1g"></div>
            <p></p>
            </div>
        </div>
        <div class="col-md-12">
            <div id="sp2g"></div>
            <p></p>
            </div>
        </div>
        <div class="col-md-12">
            <div id="sp3g"></div>
            <p></p>
            </div>
        </div>
        <h1> For Teams</h1>
        <div class="col-md-12">
            <div id="box1"></div>
            <p></p>
            </div>
        </div>
        <div class="col-md-12">
            <div id="box2"></div>
            <p></p>
            </div>
        </div>
        <div class="col-md-12">
            <div id="box3"></div>
            <p></p>
            </div>
        </div>
        <h3>Trivariate Analysis</h3>
        <div class="col-md-12">
            <div id="td1g"></div>
            <p></p>
            </div>
        </div>
        <div class="col-md-12">
            <div id="td2g"></div>
            <p></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

<script>
    var graph = {{sp1 | safe}}
    var graph1 = {{sp2 | safe}}
    var graph2 = {{sp3 | safe}}
    var graph3 = {{box1 | safe}}
    var graph4 = {{box2 | safe}}
    var graph5 = {{box3 | safe}}
    var graph6 = {{td1 | safe}} 
    var graph7 = {{td1 | safe}} 
    Plotly.plot('sp1g',graph, {})
    Plotly.plot('sp2g',graph1, {})
    Plotly.plot('sp3g',graph2, {})
    Plotly.plot('box1',graph3, {})
    Plotly.plot('box2',graph4, {})
    Plotly.plot('box3',graph5, {})
    Plotly.plot('td1g',graph6, {})
    Plotly.plot('td2g',graph7, {})
    
</script>
{% endblock %}

