{% extends 'base.html' %}

{% block css %}
<style>
    body {
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: top left;
        background-attachment: fixed;
    }

    h1 {
        text-align: center;
        font-family: Arial, sans-serif;
        color: #855d5d;
        background-color: #443131;
    }

    p {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: bold;
        color: #000000;
        background-color: #ffffff;
    }
    
</style>
{% endblock %}

{% block body %}

<h1>Homepage</h1>
<p>Sport refers to any competitive physical activity or game that tries to utilize, maintain, or enhance physical
    ability and skills while giving enjoyment and, in some situations, entertainment to participants and, in other
    cases, spectators. Sports, whether recreational or structured, can enhance one's physical health. There are hundreds
    of sports, ranging from single combatants to hundreds of simultaneous players, either in teams or competing as
    individuals. In certain sports, such as racing, several participants compete concurrently or continuously, with one
    winner; in others, the contest is between two sides, each striving to outperform the other. Some sports allow for a
    "tie" or "draw," in which no single winner is determined; others include tie-breaking mechanisms to assure one
    winner and one loser. A tournament may consist of a number of contests that culminate in the crowning of a champion.
    Many sports leagues select an annual champion by scheduling games throughout the regular sports season, followed by
    playoffs in certain circumstances. Sport is widely accepted as a system of activities centered on physical agility
    or skill, with major tournaments such as the Olympic Games allowing only sports that satisfy this criterion. Other
    organizations, such as the Council of Europe, prohibit non-physical activities from being classified as sports. A
    variety of competitive but non-physical hobbies, however, claim to be mined sports. Chess and bridge are both
    recognized as legitimate sports by the Worldwide Olympic Committee, while Sport Accord, the international sports
    federation organization, recognizes five non-physical sports. bridge, chess, draughts and the number of mental games
    that can be allowed as sports is limited.</p>

    <p>The following conditions must be met for any event to be classed as a sport-</p>
    <p>i.	Have a competitive aspect.</p>
    <p>ii.	Be non-harmful to any living organism.</p>
    <p>iii.	Do not rely on a single supplier's equipment. </p>
    <p>iv.	Do not rely on any "luck" aspect incorporated into the sport.</p>
    <p></p>
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}