{% extends 'base.html' %}

{% block css %}
<style>
    body {
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: top left;
        background-attachment: fixed;
    }

    h1 {
        text-align: center;
        font-family: Arial, sans-serif;
        color: #855d5d;
        background-color: #443131;
    }

    p {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: bold;
        color: #000000;
        background-color: #ffffff;
    }

    .new {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        color: #000000;
        background-color: #bfbdbd;
    }
</style>
{% endblock %}

{% block body %}

<h1>Sports</h1>
<p>Sport refers to any competitive physical activity or game that tries to utilize, maintain, or enhance physical
    ability and skills while giving enjoyment and, in some situations, entertainment to participants and, in other
    cases, spectators. </p>
<p>Sports, whether recreational or structured, can enhance one's physical health. There are hundreds
    of sports, ranging from single combatants to hundreds of simultaneous players, either in teams or competing as
    individuals.</p>
<p>In certain sports, such as racing, several participants compete concurrently or continuously, with one
    winner, in others, the contest is between two sides, each striving to outperform the other. Some sports allow for a
    "tie" or "draw" in which no single winner is determined. others include tie-breaking mechanisms to assure one winner
    and one loser. A tournament may consist of a number of contests that culminate in the crowning of a champion.</p>
<p>Many sports leagues select an annual champion by scheduling games throughout the regular sports season, followed by
    playoffs in certain circumstances. Sport is widely accepted as a system of activities centered on physical agility
    or skill, with major tournaments such as the Olympic Games allowing only sports that satisfy this criterion. Other
    organizations, such as the Council of Europe, prohibit non-physical activities from being classified as sports.</p>
<p>A variety of competitive but non-physical hobbies, however, claim to be mined sports. Chess and bridge are both
    recognized as legitimate sports by the Worldwide Olympic Committee, while Sport Accord, the international sports
    federation organization, recognizes five non-physical sports bridge, chess, draughts and the number of mental games
    that can be allowed as sports is limited.</p>


<p class="new">The following conditions must be met for any event to be classed as a sport-<br></p>
<p class="new">i. Have a competitive aspect.</p>
<p class="new">ii. Be non-harmful to any living organism.</p>
<p class="new">iii. Do not rely on a single supplier's equipment. </p>
<p class="new">iv. Do not rely on any "luck" aspect incorporated into the sport.</p>
</p>
<p>Sports have long been seen as a means of staying healthy and active. However, the significance of sports extends far
    deeper. Sports contribute to the overall development of. Sports provide life skills like teamwork, accountability,
    self-confidence, responsibility, and self-discipline. Sports can help you prepare for life's obstacles. They improve
    their physical and mental capacities and assist them in achieving their life objectives. The different national and
    international athletic events held all around the world, where athletes represent their respective nations,
    demonstrate
    the importance of sports. </p>
<p>The training of the begins at the level. Sports aid in the development of qualities such as
    mutual trust and collaboration. They aid in the development of abilities to make quick judgments and improve mental
    processes. The sense of sportsmanship or sporting spirit that emerges in the sporting arena teaches acceptance of
    failure and respect for others. </p>
<p>The sensation also aids in the development of a calm and happy mindset, as well as
    increasing stamina by strengthening bones and muscles. Sports are highly important in a person's life since they
    maintain them fit, fine, and strong. It is really important at every stage of life. It also enhances people's
    personalities. </p>
<p>Sports keep our organs aware and our hearts stronger when we participate in them on a regular basis.
    Sports have always been a priority since ancient times, and they have gotten much more exciting in recent years.
    Blood
    pressure remains healthy as a result of physical exercise, and blood vessels remain clean. Daily movement lowers
    blood
    sugar and cholesterol levels. Various people have different sports interests, but the motion in all sports is the
    same.
    Sports are becoming increasingly popular as a means of generating additional capital/money, and the number of people
    participating is growing. </p>
<p>By participating in sports, even at a young age, you may improve your health and avoid certain
    diseases. Lung function improves and becomes healthier as a result of participation in sports because more oxygen is
    given. Even in old age, sports enhance bone strength. Sports and sports strengthen social bonds. People that
    participate
    in sporting activities have a strong bonding capacity. They must work as a team here, which teaches them how to
    improve
    a social relationship, which is also an important aspect of life.</p>
<p>"It's just a game," those who don't understand or enjoy sports may say. But whether it's baseball, basketball,
    boxing,
    cricket, football, golf, racing, soccer, tennis, or track and field, we're talking about a phenomenon with
    far-reaching
    social implications. Sports are both a telling reflection of a society's ideals and a substantial contributor to it.
    Sports have an influence on our culture, health, social life, other forms of entertainment, and the economy.</p>
{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}