{% extends 'base.html' %}

{% block css %}
<style>
    body {
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: top left;
        background-attachment: fixed;
    }

    h1 {
        text-align: center;
        font-family: Arial, sans-serif;
        color: #000000;
        background-color: #ffffff;
    }

    p {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
        color: #000000;
        background-color: #ffffff;
    }

    
</style>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <h1>For Players</h1>
        <div class="col-md-12">
            <div id="payhistg"></div>
            <p></p>
        </div>
        <div class="col-md-12">
            <div id="salhistg"></div>
            <p></p>
        </div>
        <div class="col-md-12">
            <div id="endhistg"></div>
            <p></p>
        </div>
        <div class="col-md-12">
            <div id="paybarg"></div>
            <p></p>
        </div>
        <div class="col-md-12">
            <div id="salbarg"></div>
            <p></p>
        </div>
        <div class="col-md-12">
            <div id="endbarg"></div>
            <p></p>
        </div>
        <div class="col-md-12">
            <div id="payscatterg"></div>
            <p></p>
        </div>
        <div class="col-md-12">
            <div id="endscatterg"></div>
            <p></p>
        </div>
        <div class="col-md-12">
            <div id="salscatterg"></div>
            <p></p>
        </div>
        <h1> For Teams</h1>
        <div class="col-md-12">
            <div id="aapppg"></div>
            <p></p>
            </div>
        </div><div class="col-md-12">
            <div id="pcflysg"></div>
            <p></p>
            </div>
        </div><div class="col-md-12">
            <div id="tpg"></div>
            <p></p>
            </div>
        </div>
        <div class="col-md-12">
            <div id="apl5yeg"></div>
            <p></p>
            </div>
        </div>
        <div class="col-md-12">
            <div id="pcfl5yg"></div>
            <p></p>
            </div>
        </div>
        <div class="col-md-12">
            <div id="box1g"></div>
            <p></p>
            </div>
        </div>
        <div class="col-md-12">
            <div id="box2g"></div>
            <p></p>
            </div>
        </div>
        <div class="col-md-12">
            <div id="box3g"></div>
            <p></p>
            </div>
        </div>
        <div class="col-md-12">
            <div id="box4g"></div>
            <p></p>
            </div>
        </div>
        <div class="col-md-12">
            <div id="box5g"></div>
            <p></p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

<script>
    var graph = {{payhist | safe}}
    var graph1 = {{salhist | safe}}
    var graph2 = {{endhist | safe}}
    var graph3 = {{paybar | safe}}
    var graph4 = {{salbar | safe}}
    var graph5 = {{endbar | safe}}
    var graph6 = {{payscatter | safe}}
    var graph7 = {{endscatter | safe}}
    var graph8 = {{salscatter | safe}}
    var graph9 = {{aappp | safe}}
    var graph10 = {{pcflys | safe}}
    var graph11 = {{tp | safe}}
    var graph12 = {{apl5ye | safe}}
    var graph13 = {{pcfl5y | safe}}
    var graph14 = {{box1 | safe}}
    var graph15 = {{box2 | safe}}
    var graph16 = {{box3 | safe}}
    var graph17 = {{box4 | safe}}
    var graph18 = {{box5 | safe}}
    Plotly.plot('payhistg',graph, {})
    Plotly.plot('salhistg',graph1, {})
    Plotly.plot('endhistg',graph2, {})
    Plotly.plot('paybarg',graph3, {})
    Plotly.plot('salbarg',graph4, {})
    Plotly.plot('endbarg',graph5, {})
    Plotly.plot('payscatterg',graph6, {})
    Plotly.plot('endscatterg',graph7, {})
    Plotly.plot('salscatterg',graph8, {})
    Plotly.plot('aapppg',graph9, {})
    Plotly.plot('pcflysg',graph10, {})
    Plotly.plot('tpg',graph11, {})
    Plotly.plot('apl5yeg',graph12, {})
    Plotly.plot('pcfl5yg',graph13, {})
    Plotly.plot('box1g',graph14, {})
    Plotly.plot('box2g',graph15, {})
    Plotly.plot('box3g',graph16, {})
    Plotly.plot('box4g',graph17, {})
    Plotly.plot('box5g',graph18, {})

</script>
{% endblock %}

