{% extends 'base.html' %}

{% block css %}
<style>
    body {
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: top left;
        background-attachment: fixed;
    }

    h1 {
        text-align: center;
        font-family: Arial, sans-serif;
        color: #000000;
        background-color: #ffffff;
    }

    p {
        text-align: left;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: bold;
        color: #000000;
        background-color: #ffffff;
    }

    .new {
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: bold;
        color: #000000;
        background-color: #ffffff;
    }
</style>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <h1>For Players</h1>
        <div class="col-md-12">
            <div id="payhistg"></div>
            <p class="new">This graph is representing the data of total payout and counts during the sports in the year
                2014. In this graph, the highest payout is estimated around 100 million, but the count is very less in
                comparison of other sports . Whereas the sports which are having the highest counts have the least
                payouts . The highest count is around 50 but the payout is around 30 m or more than 20m . And the
                average payout is around 40m to 50m, and the average count is estimated around 5 or above 5 but less
                than 10. </p>
        </div>
        <div class="col-md-12">
            <div id="salhistg"></div>
            <p class="new">This graph is showing the salary winning data of sports and count of the salary winning . The
                highest winning salary is above 100m and the highest count is 35 . While most of the sports are having
                salary winning about 20 to 40 and mostly sports having the count between 0 to 5. This graph is going to
                help understanding the relation of salary winning and counts throughout the data of sports. </p>
        </div>
        <div class="col-md-12">
            <div id="endhistg"></div>
            <p class="new">In this graph the endorsement and count has been shown. The highest endorsement and counts
                are 60m and 60 consecutively and most of the endorsements are above 10 or below 20 and most of the
                counts are around 10 . This graph could be used to understand the difference or relation between count
                and endoorsement of data of different sports. </p>
        </div>
        <div class="col-md-12">
            <div id="paybarg"></div>
            <p class="new">In this Graph , payout median is being shown in which ten sports are selected and compared by
                their median payout. The sports that are selected are Baseball , basketball , boxing, cricket, football,
                golf, racing, soccer, tennis and track. The sports are being categorized in different colours according
                to their payouts. We can see that baseball , football, soccer and track are categorized in purple and
                blue colour under 25m and sports that are having more than 25m or almost 35m pay out are categorized by
                red or pink colour and the sports having highest payout is shown in yellow color. The boxing has highest
                payout above 30m, and cricket have second highest payout around 30m then tennis has highest payout less
                than 30m and above 28m and the others have less than 28m payouts. </p>
        </div>
        <div class="col-md-12">
            <div id="salbarg"></div>
            <p class="new">In this graph the median of salary winning is shown of the 10 sports including Baseball,
                Basketball, Boxing, Cricket, Football, Golf, Racing, Soccer, Tennis and track from the year 2014. This
                graph contains the sports data with different colors according to their median and categorized them by
                their higher or lower or medium salary winning median. The sports with highest salary winning median are
                Boxing about more than 30m and then most of the sports are having salary winning median lower than 30m
                or above 30m. This graph can be used to understand the performance of sports by their salary winning
                median. </p>
        </div>
        <div class="col-md-12">
            <div id="endbarg"></div>
            <p class="new">This graph is representing the endorsement median of ten sports including Baseball,
                basketball, boxing, cricket, football, golf, Racing, Soccer, tennis and track. These sports are then
                categorized to. Read their endorsement median by different colors. This graph shows that Cricket has the
                highest endorsement median and then tennis and track are having second highest endorsement median
                whereas others are having around 30m or below 30m . </p>
        </div>
        <div class="col-md-12">
            <div id="payscatterg"></div>
            <p class="new">In this graph payouts of different sports are shown in which ten sports are included , Boxing
                , Soccer, Basketball, Golf, Tennis, Football, Racing, Cricket, Baseball and Track . The sport with
                highest payout is Boxing which is around 100m and second highest is Soccer which have around 80m, and
                others have average payout around 40m or less than 40m. This graph will be useful for understanding the
                sports and their potential in order to know what sports can have more payouts and how much they can give
                payout. This graph will be helpful for improving the sports performance so they can work more on the
                payout of the sports. </p>
        </div>
        <div class="col-md-12">
            <div id="endscatterg"></div>
            <p class="new">This graph is presenting the endorsement of the sports including Boxing , soccer, basketball,
                golf, tennis, football, racing , cricket, baseball and track . The sport with highest endorsement is
                golf with endorsement of more than 50m and then second sport is basketball with endorsement of more than
                50m and third highest endorsement sport is tennis also above 50m and most of the sports are around 20m
                or less than 20m endorsement . This graph is useful for understanding and analyzing the Endorsement of
                different sports. </p>
        </div>
        <div class="col-md-12">
            <div id="salscatterg"></div>
            <p class="new">This graph is the presenting the data of sports with salary winning and the sports that are
                included are Boxing , soccer, Basketball, Golf, Tennis, Football, Racing, Cricket, Baseball and Track.
                In this graph the sport with highest salary winning is 100m and sport with least salary winning is
                Track. And most of the sports are having less than 40 and more than 20m salary winning. Through this
                graph we can analyze the data of salary winning of sports so we can improve it in future. </p>
        </div>
    </div>
</div>
<h1> For Teams</h1>
<div class="col-md-12">
    <div id="aapppg"></div>
    <p class="new">In this graph we can see that it is representing the data of the players of various sports
        premiere leagues in which players are paid according to their potentials and their performance annually.
        And most paid players of all the sports events are IPL and NBA . Whereas some sports also have huge
        annual pay per players, but most sports have average or below the average annual pay per players. This
        is because of the budget and earning of those sports events and also there is tough competition we can
        see between these sports, so it is quite difficult for some sports to compete to get to the highest
        level and that is the reason the annual earning of players of some sports are less or below the average
        . Like IPL , NBA, MLB and EPL are at the top level whereas la Liga , NHL , NFL Bundesliga etc. are at
        average position for annual earning of the players while others are below the average. </p>
</div>
</div>
<div class="col-md-12">
    <div id="pcflysg"></div>
    <p class="new">This graph is showing the changes of percent from last year’s survey of sports. In this graph 15
        sports are selected to represent the data for precent changes from last year and is showing that MLB ,
        Bundesliga and AFL have highest percentage changes from last year survey as we can see that Highest is MLB
        which is at 10 and Bundesliga is the second highest around 9 and also AFL has changed in percentage around 7
        but other sports are at average or having low percentage change from last year’s survey. </p>
</div>
</div>
<div class="col-md-12">
    <div id="tpg"></div>
    <p class="new">This is the graph that is having the data of total payroll of 15 sports including AFT, Bundesliga,
        CFL, CSL, EPL, IPL, La Liga, MLB , MLS, NBA, NFL, NHL, NPB, SPL, Serie A. This data shows that the highest Total
        payroll sports are NFL and then MLB that have more than 100m and around 100m respectively . But most of the
        sports are having Total payroll between 20m to 40m . This graph is showing the difference between the sports
        that have highest and lowest total payrolls in which the NFL have highest, and SPL have the lowest Total
        Payroll.</p>
</div>
</div>
<div class="col-md-12">
    <div id="apl5yeg"></div>
    <p class="new">In this second graph we can see last five years earning of average players from sports and the
        highest sport is La Liga with earnings of more than 30millions $ but the Bundesliga and NBA are also competing
        with La Liga from last five years and these sports have also earned of more than 30 million Doller. Most of the
        players have average earning from sports but the players from La Liga, Bundesliga and NBA are having highest
        earning per person at annual earning. Whereas other sports like IPL , EPL, MLB and NHL have average annual per
        person earning from or less than 30 million dollars and IPL is getting lower earning for annual earning per
        person from last five years and others are at average. </p>
</div>
</div>
<div class="col-md-12">
    <div id="pcfl5yg"></div>
    <p class="new">This graph is presenting the data of sports about the percent changes in last five years including
        AFL, Bundesliga, CFL, CSL, EPL, IPL, La Liga, MLB, MLS NBA, NFL, NHL, NPB, SPL and Serie A . These sports have
        drastically changed from last five years in which highest percent changes have occurred in Serie A with above
        100 while other sports have around or less than 100 and mostly sports are down to 50 or less than 50. Some of
        the sports have no changes in percent at all but NFL have hardly any changes in percent over last five years.
    </p>
</div>
</div>
<div class="col-md-12">
    <div id="box1g"></div>
    <p class="new">In this graph the data of Average annual pay per player is shown is shown . The highest Annual pay
        per player is recorded about 80000000 $ and most of the average annual pay per player is from 70000000 to
        80000000 and the average is around 20000000 $ . This graph could be used to know the average of annual pay per
        players to analyze the data and improve the annual budget of the sports.</p>
</div>
</div>
<div class="col-md-12">
    <div id="box2g"></div>
    <p class="new">This graph is presenting the data of sports in which the percent changes is been shown from last year
        Some sports have highest changes in percent around 250 where as some. Of the sports have changes around 100 or
        below 100 and also many of the sports have changes in percent about 50 or less than 50 but some sports have no
        changes at all and there are also some of the sports who are having negative changes in percent in last year .
    </p>
</div>
</div>
<div class="col-md-12">
    <div id="box3g"></div>
    <p class="new">This graph is presenting the data of the total Payroll of sports in which the highest Total payroll
        was recorded between 250000000 to 200000000 but most of the changes were between 2000000000 and 150000000 . This
        graph could be helpful to know the amount of Total payroll of sports. </p>
</div>
</div>
<div class="col-md-12">
    <div id="box4g"></div>
    <p class="new">In this graph, the Average player 5-year earning is being shown and the highest earning is recorded
        above 10000000 $ or more than that. and the highest earning is estimated above 35000000 $. Most of the players
        earning is between less than 10000000 $ to 20000000 $ . This record will be helpful to understand the average
        earning of players over five years. </p>
</div>
</div>
<div class="col-md-12">
    <div id="box5g"></div>
    <p class="new">In this graph the data of percent change is shown throughout the last five years of sports. We can
        see that the highest percent change throughout the last five years is above 300 but most of the sports have
        changes in percent are between 200 and 100. </p>
</div>
</div>
</div>
</div>

{% endblock %}

{% block js %}

<script>
    var graph = {{ payhist | safe}}
    var graph1 = {{ salhist | safe}}
    var graph2 = {{ endhist | safe}}
    var graph3 = {{ paybar | safe}}
    var graph4 = {{ salbar | safe}}
    var graph5 = {{ endbar | safe}}
    var graph6 = {{ payscatter | safe}}
    var graph7 = {{ endscatter | safe}}
    var graph8 = {{ salscatter | safe}}
    var graph9 = {{ aappp | safe}}
    var graph10 = {{ pcflys | safe}}
    var graph11 = {{ tp | safe}}
    var graph12 = {{ apl5ye | safe}}
    var graph13 = {{ pcfl5y | safe}}
    var graph14 = {{ box1 | safe}}
    var graph15 = {{ box2 | safe}}
    var graph16 = {{ box3 | safe}}
    var graph17 = {{ box4 | safe}}
    var graph18 = {{ box5 | safe}}
    Plotly.plot('payhistg', graph, {})
    Plotly.plot('salhistg', graph1, {})
    Plotly.plot('endhistg', graph2, {})
    Plotly.plot('paybarg', graph3, {})
    Plotly.plot('salbarg', graph4, {})
    Plotly.plot('endbarg', graph5, {})
    Plotly.plot('payscatterg', graph6, {})
    Plotly.plot('endscatterg', graph7, {})
    Plotly.plot('salscatterg', graph8, {})
    Plotly.plot('aapppg', graph9, {})
    Plotly.plot('pcflysg', graph10, {})
    Plotly.plot('tpg', graph11, {})
    Plotly.plot('apl5yeg', graph12, {})
    Plotly.plot('pcfl5yg', graph13, {})
    Plotly.plot('box1g', graph14, {})
    Plotly.plot('box2g', graph15, {})
    Plotly.plot('box3g', graph16, {})
    Plotly.plot('box4g', graph17, {})
    Plotly.plot('box5g', graph18, {})

</script>
{% endblock %}